<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="A blog by Emmet Connolly, digital product designer">
  <meta name="author" content="Emmet Connolly">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:wght@100..800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>

  <div class="container">


    <div class="row">
      <div class="four columns">
      <div id="header">
        <h1><a href="/">Thoughtwax</a></h1>
        <div class="intro">
          A blog by <a href="http://emmetconnolly.com">Emmet Connolly</a>
          <!--<br /><br /><a href="http://twitter.com/thoughtwax">Follow me on Twitter &rarr;</a>-->
        </div>
      </div>
      </div>
      <div class="eight columns">
        {{ content }}
      </div>
    </div>

    <div class="row footer">
      <div class="four columns">
        <p>
          <strong>Emmet Connolly</strong><br />
          emmet.connolly@gmail.com
        </p>
      </div>
      <div class="eight columns">
        <p>
          <strong><a href="/about/">About me</a></strong> - <a href="/archive/">Archive</a> - <a href="/reading/">Reading</a> - <a href="/feed/">RSS feed</a><br />
          <a href="http://twitter.com/thoughtwax">@thoughtwax</a><!-- - <a href="http://instagram.com/thoughtwax">instagram</a> - <a href="http://thoughtwax.tumblr.com/">tumblr</a> - <a href="http://www.vimeo.com/thoughtwax">vimeo</a> - <a href="https://pinboard.in/u:thoughtwax">pinboard</a>--><br />
        </p>
      </div>
    </div>


  </div>


</body>
</html>